{%  extends 'App/base.html' %}
{% block title%}Ambulance | Covid Wani{% endblock %}
{% block body %}

<div class="container" style="max-width: 850px; margin-top:1rem">
    <h3><b>Ambulance Service</b></h3>
    <div class="card" style="margin-bottom: 0.5rem;">
        <div class="card-body" style="padding: 12px;">
          <h5 class="card-title">Govt. Toll-free No.</h5>
          <h5 class="card-title text-info">102</h5>
          <hr>
          <h5 class="card-title"> Govt Hospital Wani</h5>
          <h5 class="card-title text-info">8007568467</h5>
          <hr>
          <h5 class="card-title">Karan Gedam (Oxygen Available)</h5>
          <h5 class="card-title text-info">9075481090   9307914088</h5>
          <hr>
          <h5 class="card-title">Amol Pote(Ambulance Association)</h5>
          <h5 class="card-title text-info">7721011221</h5>
          <hr>
          <h5 class="card-title">Ajay Chane</h5>
          <h5 class="card-title text-info">8007103030</h5>
          <hr>
          <h5 class="card-title">Sandesh Tikhat</h5>
          <h5 class="card-title text-info">8975808042</h5>
          <hr>
          <h5 class="card-title">Ravindra Kamble</h5>
          <h5 class="card-title text-info">9765441414</h5>
          <hr>
          <h5 class="card-title">Praful Milmile (Lodha)</h5>
          <h5 class="card-title text-info">7620403036</h5>
          <hr>
          <h5 class="card-title">Lodha Hospital Ambulance</h5>
          <h5 class="card-title text-info">07239226777   7057250663</h5>
          <hr>
          <h5 class="card-title">Sugam Hospital</h5>
          <h5 class="card-title text-info">9921164813</h5>
          <hr>
          <h5 class="card-title">Akash</h5>
          <h5 class="card-title text-info">7028484371</h5>
          <hr>
          <h5 class="card-title">Nikhil</h5>
          <h5 class="card-title text-info">9130264206</h5>
        </div>
    </div>
  </div>

{% endblock %}