<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">

    <!-- Bootstrap CSS -->
    <link crossorigin="anonymous" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" rel="stylesheet">

    <title>{% block title%}{% endblock %}</title>
</head>

<body>


<!-- This is a navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/">Covid Wani</a>
    <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            class="navbar-toggler"
            data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
            </li>
            {% if user.is_authenticated %}
             <li class="nav-item active">
                <a class="nav-link" href="/">Welcome {{request.user}}<span class="sr-only"></span></a>
            </li>
            {% else %}
            <li class="nav-item active">
                <a class="nav-link" href="/login">Login<span class="sr-only"></span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/signup">Signup<span class="sr-only"></span></a>
            </li>

            {% endif%}
        </ul>

    </div>
</nav>
<!-- This is a navbar end-->


<!-- tab pill starts -->


<div class="container">
<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
    <li class="nav-item" role="presentation">
        <a aria-controls="pills-home" aria-selected="false" class="nav-link" data-bs-target="#pills-home"
           data-bs-toggle="pill" href="/" id="pills-home-tab" role="tab" style="background: #D1D5DB; margin: 5px;"
           type="button">Beds</a>
    </li>
    <li class="nav-item" role="presentation">
        <a aria-controls="pills-profile" aria-selected="false" class="nav-link "
           data-bs-target="#pills-profile" data-bs-toggle="pill" href="/test-centres" role="tab"
           style="background: #D1D5DB; margin: 5px;"
           type="button">Test Centres</a>
    </li>
    <li class="nav-item" role="presentation">
        <a aria-controls="pills-profile" aria-selected="false" class="nav-link"
           data-bs-target="#pills-profile" data-bs-toggle="pill" href="/ct-scan" role="tab"
           style="background: #D1D5DB; margin: 5px;"
           type="button">CT Scan</a>
    </li>
    <li class="nav-item" role="presentation">
        <a aria-controls="pills-profile" aria-selected="false" class="nav-link "
           data-bs-target="#pills-profile" data-bs-toggle="pill" href="/ambulance" role="tab"
           style="background: #D1D5DB; margin: 5px;"
           type="button">Ambulance</a>
    </li>
    <li class="nav-item" role="presentation">
        <a aria-controls="pills-profile" aria-selected="false" class="nav-link"
           data-bs-target="#pills-profile" data-bs-toggle="pill" href="/helpline" role="tab"
           style="background: #D1D5DB; margin: 5px;"
           type="button">24x7 Helpline</a>
    </li>

</ul>
</div>

<!-- tab pill ends -->






{% block body %}


{% endblock %}


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script crossorigin="anonymous"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script crossorigin="anonymous"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
</body>

</html>