{% extends 'App/base.html'%}
{% block title%}CT-Scan | Covid Wani{% endblock %}
{% block body %}



  <!-- name of centres start -->
  <div class="container" style="max-width: 850px; margin-top:1rem"><h3>
      <b>CT Scan Centers</b></h3>
    <div class="card" style="margin-bottom: 0.5rem;">
        <div class="card-body" style="padding: 12px;">
          <h5 class="card-title">Alurwar Diagnostic and Sonography Centre</h5>
          <p class="card-text text-info" style="font-size: 20px; margin: 0px;">07172258406</p>
          <p class="card-text">Jatpura Gate Road, Bazar Ward, Chandrapur</p>
          <a href="https://maps.app.goo.gl/JdEGE1j7xrcrHPeQ7" class="btn btn-primary">Directions</a>
        </div>
    </div>
    <div class="card" style="margin-bottom: 0.5rem;">
        <div class="card-body" style="padding: 12px;">
          <h5 class="card-title">Dr Madurwar CT Scan and MRI centre</h5>
          <p class="card-text text-info" style="font-size: 20px; margin-bottom: 0px;">9822474210</p>
          <p class="card-text">Vivek Nagar, Near Bengali Camp, Chandrapur</p>
          <a href="https://maps.app.goo.gl/86Z4ZMXsUmda6QGy7" class="btn btn-primary">Directions</a>
        </div>
    </div>
    <div class="card" style="margin-bottom: 0.25rem;">
        <div class="card-body" style="padding: 12px;">
          <h5 class="card-title">Mehra Hospital</h5>
          <p class="card-text text-info" style="font-size: 20px; margin-bottom: 0px;">7947338086</p>
          <p class="card-text">Nagpur Road, Near Janata College, Civil Lines, Chandrapur</p>
          <a href="https://maps.app.goo.gl/MXagsp44jYiUrVE27" class="btn btn-primary">Directions</a>
        </div>
    </div>
  </div>
<!-- name of centres end -->


{% endblock %}