{% extends 'App/base.html'%}

{% block title%}Helpline | Covid Wani{% endblock %}
{% block body%}




 <!-- helpline no. start -->
 <div class="container" style="max-width: 850px; margin-top:1rem">
       <h3><b>Emergency Helpline Number</b></h3>
    <div class="card" style="margin-bottom: 0.5rem;">
        <div class="card-body" style="padding: 12px;">
          <h5 class="card-title">Govt. of India Helpline</h5>
          <h5 class="card-title text-info">1075   1123978046</h5>
          <hr>
          <h5 class="card-title">Maharashtra State Helpline</h5>
          <h5 class="card-title text-info">02026127394</h5>
          <hr>
          <h5 class="card-title">Helpline name</h5>
          <h5 class="card-title text-info">1234567890</h5>
        </div>
    </div>
  </div>
<!-- helpline no. end -->

{% endblock %}