{% extends 'App/base.html'%}

{% block title%}Test Centers |Covid Wani{% endblock %}

{% block body %}




 <div class="container" style="max-width: 850px; margin-top:1rem">
     <h3><b>Test Centers</b></h3>
    <div class="card" style="margin-bottom: 0.5rem;">
        <div class="card-body" style="padding: 12px;">
          <h5 class="card-title">Govt Hospital, Wani</h5>
          <p class="card-text">Near Shetkari Mandir, Wani</p>
          <a href="https://maps.app.goo.gl/htySzvKmaAeYbafL6" class="btn btn-primary">Directions</a>
        </div>
    </div>
    <div class="card" style="margin-bottom: 0.5rem;">
        <div class="card-body" style="padding: 12px;">
          <h5 class="card-title">Shri Ram Mandir</h5>
          <p class="card-text">Khati Chowk, Wani</p>
          <a href="https://maps.app.goo.gl/YaPr28U9fXwZCUWQA" class="btn btn-primary">Directions</a>
        </div>
    </div>
    <div class="card" style="margin-bottom: 0.25rem;">
        <div class="card-body" style="padding: 12px;">
          <h5 class="card-title">Name of centre</h5>
          <p class="card-text">Address wani abc road abc lab</p>
          <a href="#" class="btn btn-primary">Directions</a>
        </div>
    </div>
  </div>

{% endblock %}